@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sora: var(--font-sora);
  
  font-family: {
    sora: var(--font-sora), sans-serif;
  }
}

:root {
  --radius: 0.625rem;
  --charcoal: oklch(.20 0.01 260);
  --silver-gray: oklch(85% 0 0);
  --background: oklch(0.97 0.01 95);
  --foreground: oklch(0.10 0.00 0);
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
